@use '../variables' as *;

.skills {

    &__item {
        margin-bottom: 1rem;

        &-text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.2rem;
        }
    }
}

.progress {
    max-height: 4px;
    background-color: #e9ecef;
    border-radius: 100%;
    overflow: hidden;

    .skills__progress-bar {
        height: 4px;
        background-color: $color-dark;
        transition: width 0.6s ease;
    }
}