@use '../variables' as *;

.about__grid-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100vw;
    align-items: center;
}

.about__subtitle {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.about__subheadline {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.about__quote-icon {
    color: $color-primary;
    font-size: 24px;
}

@media (min-width: 768px) {
    .about__grid-container {
        
        .about__grid-row {
            
            .about__grid-left-column {
                display: flex;
                flex-direction: column;
                max-height: 100%;

                .about__image-placeholder {
                    display: flex;
                    flex-direction: column;
                    max-height: 100%;

                    .about__image {
                            width: 100%;
                            align-self: center;
                            height: auto;
                        
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .about__grid-container {
        
        .about__grid-row {
            
            .about__grid-left-column {
                display: flex;
                flex-direction: column;
                max-height: 100%;

                .about__image-placeholder {
                    
                    .about__image {
                        width: 60%;
                        align-self: center;
                        height: auto;
                    }
                }
            }
        }
    }
}
