@use '../variables' as *;

.footer__nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: $color-light;
    z-index: 1000;
    
    .footer__menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px;

        .footer__menu-item {
            padding: 0;
            margin: 0;
            padding: 0px 10px 0px 10px;
            font-size: 14px;

            .footer__text {
                color: $color-dark;
                margin: 0;
            }

            .footer__link {
                color: $color-dark;

                &:hover {
                    color: $color-primary;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}