@use '../variables' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba($color-light, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px 0;

    .header__nav-wrapper {
        display: flex;
        flex-direction: column; // mobile: stack brand on top
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header__brand {
        font-weight: 200;
        color: $color-dark;
        margin-bottom: 10px;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        width: 100%;

    .header__menu {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: relative;

        .header__menu-item {
            font-size: 10px;
            padding: 8px;
            position: relative;

            .header__link {
                text-decoration: none;
                text-transform: uppercase;
                color: $color-dark;
                position: relative;
                padding-bottom: 4px;

                &:hover {
                    color: $color-dark;
                    transition: all 0.2s ease-out;
                }

                &:focus {
                    outline: none;
                }
            }

        // Active + Focused links
        .header__link--active,
        .header__link:focus {
            color: $color-dark;
            font-weight: 700;

            &::after {
                content: "•";
                position: absolute;
                left: 50%;
                bottom: -8px;
                transform: translateX(-50%);
                font-size: 14px;
                color: $color-dark;
            }
        }
    }
}
}

  // DESKTOP VIEW
  @media (min-width: 768px) {
    .header__nav-wrapper {
      flex-direction: row; // brand left, nav right
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
    }

    .header__brand {
        width: 160px;
        margin-bottom: 0;
        font-size: 18px;
    }

    .header__nav {
      justify-content: flex-end;

      .header__menu {
        justify-content: flex-end;

        .header__menu-item {
          padding: 0 20px;
          font-size: 11px;
        }
      }
    }
  }
}
