@use '../variables' as *;

// MOBILE FIRST
.index__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0px 50px 0px 50px;

    .index__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .index__link {
            text-decoration: none;
            color: $color-secondary;
            font-size: 32px;
            font-weight: 200;
            line-height: 38px;

            &:hover {
                color: $color-primary;
                font-weight: 400;
                transition: all 0.2s ease-out;
            }
        }
    }
}

// TABLET / DESKTOP
@media (min-width: 768px)  {
    .index__grid {
        padding: 0px 120px 0px 120px;
    
        .index__container {
            
            .index__title {
                font-size: 80px;
            }

            .index__link {
                font-size: 72px;
                line-height: 78px;
    
                &:hover {
                    color: $color-primary;
                    font-weight: 400;
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}